{% extends 'base.html' %}

{% block contents %}
        <div class = "downdiv"> 
            <div class="category">
                <h1 class="category" style=" margin-left: 50px; color:black;" >카테고리</h1>
                    {% for i in cate_key.all %}
                    <div class="item_div">
                        <a href="{% url 'incategory' i.id %}" style="text-decoration:none; color: black; margin-top: 10px;">{{i.name}}</a>
                        {% if i.pic %}
                            <img style="width: 20px;height: 20px;" src="{{i.pic.url}}">
                        {% endif %}
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>

    
</body>
</html>

{% endblock %}