{% extends 'base.html' %}

{% block contents %}
        
        <div class = "downdiv"> 
            <div class="category">
                <h1 class="categoryy" style=" margin-left: 50px; color:black;" >{{this_category}}</h1>
                    {% for i in take_key %}
                    <div class="item_div">
                        <a href="{% url 'detail' i.id %}">{{i.title}}</a>
                        {% if i.pic %}
                            <img style="width: 20px;height: 20px;" src="{{i.pic.url}}">
                        {% endif %}
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>

    
</body>
</html>

{% endblock %}