{% extends 'base.html' %}

{% block contents %}
        
        <div class = "downdiv"> 
            <div class="category">
                {% for i in items %}
                
                    <div class = "my_button_margin">
                        <div class = "card text-center" style = "min-width: 18rem;">
                            <a href="{% url 'detail' i.id %}">{{i.title}}</a>
                            <img class = "card-img-top my_image" src="{{i.pic.url}}" style="height: 100px; width: 100px;" alt="{{i.titel}}"></a>
                            <h4>{{i.title}}</h4>
                        </div>
                    </div>
                    {% empty %}
                        <p class="text-center my_search_text">검색 결과 없음</p>
                {% endfor %}
            </div>

        </div>
    </div>

    
</body>
</html>

{% endblock %}